table{
  width: 100%;
}


.search{
  border: 1px solid #CCC;
  padding: 8px 10px;
  outline: none;
  border-radius: 3px;
}


.search:active{
  border: 1px solid #BBB;
}

.search:focus{
  border: 1px solid #AAA;
}
